<ion-grid>
  <ng-container ngif="">
    <ion-row>
      <ng-container *ngIf="cellsByBoard.length>=2 && cellsByBoard.length < 5;else second">
        <ion-col size-xs="12" size-md="6" *ngFor="let cell of cellsByBoard;">
          <app-cell [cellObservable]=cell fontVW="10vw"></app-cell>
        </ion-col>
      </ng-container>

      <ng-template #second>
        <ng-container *ngIf="cellsByBoard.length >= 5 && cellsByBoard.length < 9;else third">
          <ion-col size-xs="6" size-md="6" *ngFor="let cell of cellsByBoard;">
            <app-cell [cellObservable]=cell fontVW="8vw"></app-cell>
          </ion-col>
        </ng-container>
      </ng-template>

      <ng-template #third>
        <ion-col size-xs="4" size-md="2" *ngFor="let cell of cellsByBoard;">
          <app-cell [cellObservable]=cell fontVW="3vw"></app-cell>
        </ion-col>
      </ng-template>

    </ion-row>
  </ng-container>
</ion-grid>
