ion-card{
  box-shadow: none !important;
}

p, ul, ion-card-content {
  font-size: 1rem;
  color: black;
  letter-spacing: .05em;
}

h1{
  font-size: 1.5rem;
  margin-bottom: 0;
  font-weight: bold;
  letter-spacing: .05em;
}

