<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/home/home" color="primary">Home</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Disclaimer</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Systems (hardware and software) provided by the SpeakYourMind Foundation are not medical devices and have not
          been approved for use by the FDA; therefore, these systems shall not be used or depended on to provide medical
          treatment or to make any form of healthcare decisions. Other means of communication must be used for any
          medical related purpose.
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
