<ion-content style="display: grid; place-items: center;">
  <ion-grid >
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="4" size-md="6" size-xs="12">
        <ion-card class="login-card">
          <ion-card-content>
            <h1 class="login-heading">SYMPLE</h1>
            <form style="padding: 5px;" (ngSubmit)="login()" [formGroup]="credentials">
              <ion-item class="ion-margin-bottom">
                <ion-label position="stacked" class="form-label">E-mail</ion-label>
                <ion-input type="email" class="form-input" formControlName="email"></ion-input>
                <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors">Email is invalid
                </ion-note>
              </ion-item>
              <ion-item class="ion-margin-bottom">
                <ion-label position="stacked"  class="form-label">Password</ion-label>
                <ion-input type="password" class="form-input" formControlName="password"></ion-input>
                <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors">Password needs to
                  be 6 characters
                </ion-note>
              </ion-item>
              <ion-button class="form-button" type="submit" expand="block" color="dark" [disabled]="!credentials.valid">LOGIN
              </ion-button>
              <ion-button class="form-button"  type="button" expand="block" fill="outline" color="dark" (click)="register()">SIGN UP</ion-button>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

