<ion-app>
  <ion-split-pane contentId="main-content"  when="false">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content class="ion-justify-content-center ion-align-items-center">
        <ion-list id="inbox-list">
          <ion-list-header>SYMPLE</ion-list-header>
          <!--          <ion-note>contact@speakyourmindfoundation.org</ion-note>-->
          <br>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
                      routerLinkActive="selected" (click)="p.clickEvent()">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <a
        href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=QY6S73LW86FA8&source=url"
        style="text-align:center; align-items: center; padding-bottom: 10px; font-size:21px;text-decoration: underline;"
        class="link">
        Donate
      </a>
      <ion-label style="text-align:center; align-items: center; padding-bottom: 10px;">
        © 2022 SpeakYourMind Foundation
      </ion-label>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
